{% extends "base.html" %}
{% load static %}

{% block content %}
  

<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- bloglist12:18-->
<head>
	<!-- Basic need -->
	<title>FilmSea</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
	<link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<script>
	videojs('my-player', {
		controls: true,
		autoplay: false,
		preload: 'auto'
	  });
</script>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/lol.png' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->



<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index-2.html"><img class="logo" src="{% static 'images/lol.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a href="{% url 'home' %}">Home</a></li>
						
						<li><a href="{% url 'movielist' %}">Movies</a></li>
						
						
						<li><a href="{% url 'blog' %}">News</a></li>
						
						
						
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						                
						<li class="loginLink"><a href="{% url 'logout' %}">LOG Out</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	  
	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> Movies </h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'home' %}">Home</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>

<body class="body bg-dark">
   >
      <div class="container-fluid">
          <!-- <div class="row"> -->
            <!-- <div class="col-md-2 col-md-6 mx-auto my-auto text-center"> -->
              {% for x in moon %}
			  <video
			  id="myvideo"
			  class="video-js vjs-big-play-centered"
			  controls="true"
			  preload="auto" 
			  muted="True"
			  fluid="True"
			  hotkeys="true"
			  
			  {% if x.thumb %}
			  poster="{{x.thumb.url}}"
			  {% endif %}
			  data-setup="{
				  'controls': true,
				  'autoplay': false,
				  'preload': 'auto'
				}">
				<source src="{{x.moon.url}}" type="video/mp4" />
			  
				
			  
			  
			</video>
			<h3 class="text-align-right mt-2 mb-2 mr-3">Title: {{x.caption}}</h3><br>
			<div class="text-align-right mt-2 mb-2 mr-3"><h3>About: </h3><b>{{x.description}}</b></div>

			{% endfor %}
            </div>
          <!-- </div> -->
  </body>

  <br><br><br>


<!--end of blog list section-->
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <!-- <a href="index-2.html"><img class="logo" src="{% static 'images/lol.png' %}" alt=""></a> -->
				 <p>Magodo<br>
				Lagos, Nigeria</p>
				<p>Call us: <a href="#">(+234) 807 765 7165</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li> 
					
					<li><a href="#">Contact Us</a></li>
					
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<!-- <li><a href="#">Terms of Use</a></li>  -->
					<li><a href="#">Privacy Policy</a></li>	
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li> 
					<!-- <li><a href="#">Watchlist</a></li>	 -->
					<!-- <li><a href="#">Collections</a></li> -->
					<!-- <li><a href="#">User Guide</a></li> -->
				</ul>
			</div>
			
		</div>
	</div>
	<div class="ft-copyright">
		
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="js/jquery_.js"></script>
<script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>

<!-- bloglist12:22-->
</html>

{% endblock content %}